body{
    display: flex;
    justify-content: center;
}


.container{
    background-color: gray;
    text-align: center;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    border: solid black 2px;
    align-items: center;
    justify-content: center;
}

.title{
    font-weight: lighter;
    font-size: 42px;
    margin-bottom: 30px;
}
.input {
    display: flex;
    width: 300px;
    height: 45px;
    justify-content: space-between;
    margin-left: 95px;
    font-size: 30px;
  }
  .input input {
    width: 200px;
    height: 40px;
    border:solid black 1px;
    font-size:20px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
  }
  
  
#calcular{
    width: 100px;
    height: 50px;
    border: solid white 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    color:  white;
    border-radius: 10px;
}

.result{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 80px;
    background-color: #ADB5BD;
    width: 350px;
    height: 100px;
    font-size: 20px;
    border-radius: 20px;
    border: solid black 1px;
    font-family: Arial, Helvetica, sans-serif;
}